<div class="team-container">
    <h3>Expert Team</h3>
    <h2>Meet Our Team Expert & Experience Members</h2>
  
    <div class="team-members">
      <div class="team-member" *ngFor="let member of teamMembers">
        <img [src]="member.image" alt="{{ member.name }}">
        <div class="team-info">
          <h4>{{ member.name }}</h4>
          <p>{{ member.role }}</p>
          <div class="social-icons">
            <a *ngFor="let icon of member.socialLinks" [href]="icon.link" target="_blank">
              <i [class]="icon.iconClass"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  